.buttons {
    display: flex;
    justify-content: center;
}

.ingredients {
    text-transform: uppercase;
}

.checkbox__quantity {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    margin: 15px;
}

.inbox {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.product {
    align-items: center;
    display: flex;
}

.ingredient__prices {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.payment {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}